body,
html {
  height: 100%;
}

/* MAIN */
.container {
  max-width: 620px;
  margin: 40px auto;
  border: 1px solid #24043c56;
  border-radius: 40px;
}

.header-title {
  text-align: center;
  font-family: sans-serif;
}
select {
  display: block;
  width: 30%;
  margin: 0 auto;
  font-size: 15px;
}
.cities {
  padding: 30px;
}
.footer {
  text-align: center;
}
